// /**
//  * Copyright © 2019 Studio Raz. All rights reserved.
//  * See LICENSE.txt for license details.
//  */

@sr-widgets__grid-prefix-row: ~'.sr-widget-row';
@sr-widgets__grid-prefix-col: ~''; // default prefix - ~'.sr-widget-col';
@sr-widgets__grid-columns-amount: 12;
@sr-widgets__grid-gutter: 10px;
@sr-widgets__grid-breakpoints:
        xxs @screen__xxs,
        xs  @screen__xs,
        sm  @screen__s,
        md  @screen__m,
        lg  @screen__l,
        xl  @screen__xl;
